
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Irish Grover', cursive;
  color: var(--grey);
}

body {
  overflow-x: hidden;
}

/* colors */
:root {
  --grey: #222;
  --yellow : #FFE600;
  --dark-blue: #495B5F;
  --light-blue: #9BA69B;
  --red : #7D4A45;
  --white : #EFE8E3;

  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}


/* HEADER SECTION */

.header-title-container {
  font-size: 2rem;
  font-weight: 400;
  background-color: var(--yellow);
  z-index: 1;
  position: fixed;
  top: 10vh;
  right: 0;
  width: 650px;
  height: 10vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.header-title, .header-title-duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: 5rem;
}

.header-title > *, .header-title-duplicate > * {
  margin: 0 1rem;
}


/* YELLOWSECTION */

.main-background {
  height: 100vh;
  background-color: var(--yellow);
  display: flex;
  padding-top: 100px;
}

.info {
  width: 30%;
  padding: 3rem;
  margin-left: 100px;
}

.info-item {
  display: flex;
}

.info-item > * {
  margin: 0 0.5rem;
}


img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 100px;
}

.text-container {
  width: 50%;
  padding: 10rem 3rem;
}

hr {
  border: 1.5px solid var(--grey);
  margin: 2rem 0;
  width: 70%;
  transform: translateX(-10%)
}

.text-area > * {
  margin: 1rem 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.bolder {
  font-weight: 650;
}

.color-palette-container {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-top: 5%;
}

.square {
  width: 60px;
  height: 40px;
}

.dark-blue {
  background-color: var(--dark-blue);
}

.light-blue {
  background-color: var(--light-blue);
}

.red {
  background-color: var(--red);
}

.white {
  background-color: var(--white);
}