@import url(https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap);body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  margin: 0
}

code {
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

@font-face {
  font-family: Wavy;
  font-size:400px;src: url(../assets/font/ThewaveRegular-OVOe8.ttf) format("truetype")
}
/* colors */
:root {
  --grey: #222;
  --yellow : #FFE600;
  --dark-blue: #495B5F;
  --light-blue: #9BA69B;
  --red : #7D4A45;
  --white : #EFE8E3;

  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Irish Grover', cursive;
  color: var(--grey);
}

a {
  text-decoration: none;
  color: var(--grey);
}


body {
  overflow-x: hidden;
  background-color: var(--grey);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}


/* HEADER SECTION */
header {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

header::before {
  content: "";
  display: block;
  padding-bottom: calc(100% * (1642 / 1102));
  background: url(./img/background-image.jpg) no-repeat center center;
  background-size: cover;
}

.play-btn {
  position: fixed;
  top: 20%;
  right: 1%;
  z-index: 10;
  transform-origin: center;
}

.main-animation-text h1 {
  font-size: 55vh;
  font-family: "Wavy", sans-serif;
  font-weight: 100;
  text-align: right;
  color: var(--yellow);
  position: fixed;
  z-index: 1;
}

#top {
  top: 0;
}

#bottom {
  top: 45vh;
}

#top-decal {
  top: -100vh;
}

#bottom-decal {
  top: -50vh;
}

.name-tag h2 {
  position: fixed;
  bottom: 150px;
  right: -100px;
  font-size: 2rem;
  color: var(--yellow);
  transform: rotate(270deg);
}


/* YELLOWSECTION */

.main-background {
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow);
  display: flex;
  padding-top: 100px;
  z-index: 20;
  position: absolute;
}

.info {
  width: 30%;
  padding: 3rem;
  margin-left: 100px;
}

.info-item {
  display: flex;
}

.info-item > * {
  margin: 0 0.5rem;
}


img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 100px;
}
.content-selector {
  display: flex;
  margin-top: 5%;
}

.content-selector > * {
  margin: 0 1rem;
  cursor: pointer;
}

.active {
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--dark-blue);
}

.text-container {
  width: 50%;
  padding: 10rem 3rem;
}

hr {
  border: 1.5px solid var(--grey);
  margin: 2rem 0;
  width: 70%;
  transform: translateX(-10%)
}

.text-area > * {
  margin: 1rem 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.bolder {
  font-weight: 650;
}
.exp-container {
  border-top : 1px solid var(--red);
  width: fit-content;
}

.exp {
  font-size: 0.7rem;
  margin-top: 1rem;
}

.exp p {
  font-size: 1rem;
}

.school-container {
  border-top: 1px solid var(--red);
  padding-top: 1rem;
  width: fit-content;
}

.school p {
  font-size: 0.9rem;
}

.color-palette-container {
  display: flex;
  width: 100%;
  margin-top: 95%;
}

.square {
  width: 25%;
  height: 5%;
}

.dark-blue {
  background-color: var(--dark-blue);
}

.light-blue {
  background-color: var(--light-blue);
}

.red {
  background-color: var(--red);
}

.white {
  background-color: var(--white);
}



/* MEDIA QUERIES */

@media (max-width: 1700px) {
  .main-animation-text h1 {
      font-size:45vh
  }

  .name-tag h2 {
      bottom: 100px
  }

  .play-btn {
      display: none
  }
}

@media (max-width: 1400px) {
  .main-animation-text h1 {
      font-size:45vh
  }

  .name-tag h2 {
      bottom: 50px
  }

  .text-container {
      padding: 5rem 3rem
  }

  img {
      height: 300px;
      width: 300px
  }

  .text-area>* {
      margin: .5rem 0
  }

  .color-palette-container {
      display: none
  }
}

@media (max-width: 900px) {
  .main-animation-text h1 {
      font-size:25vh
  }

  #top {
      top: 0
  }

  #bottom {
      top: 25vh
  }

  .name-tag h2 {
      bottom: 0
  }

  .text-container {
      padding: 3rem
  }

  img {
      height: 250px;
      width: 250px
  }

  .text-area>* {
      margin: .5rem 0
  }

  .color-palette-container {
      display: none
  }

  .info {
      margin-left: 0;
      margin-right: 3rem
  }
}

@media (max-width: 600px) {
  header {
      height:100vh;
      width: 100%
  }

  .main-animation-text h1 {
      font-size: 20vh
  }

  .main-background {
      flex-direction: column;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      margin-top: -20vh;
      padding-top: 10vh
  }

  .info {
      margin: 0;
      padding: 1rem;
      text-align: center;
      width: 100%
  }

  img {
      margin-bottom: 20px
  }

  .text-container {
      padding: 1rem;
      width: 100%
  }
}
