@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;400&display=swap");

/* colors */
:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-weight: 200;
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

h1 {
  padding : 1rem;
  text-transform: uppercase;
  font-size: 4rem;
}

/* OPENING */

p {
  text-transform: uppercase;
}

.the {
  position: absolute;
  left: 905px;
  top: 221px;
  font-weight: 100;
  font-size: 20px;
}

.medium {
  position: absolute;
  left: 905px;
  top: 237px;
  font-weight: 100;
  font-size: 50px;
}

.echoes {
  position: absolute;
  left: 1111px;
  top: 237px;
  font-weight: 100;
  font-size: 50px;

  background: linear-gradient(130deg, #000000 -0.99%, rgba(0, 0, 0, 0) 94.06%);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}

.louder {
  position: absolute;
  left: 530px;
  top: 385px;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 0.3em;
}

.than_the {
  position: absolute;
  left: 350px;
  top: 606px;
  font-weight: 100;
  font-size: 30px;
}

.message {
  position: absolute;
  left: 714px;
  top: 687px;
  font-weight: 100;
  font-size: 100px;
  letter-spacing: 0.7em;
}

.down_arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  animation: down 2s infinite;
  padding-bottom: 2%;
  cursor: pointer;
}

@keyframes down {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
